.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.pageInfo {
  padding: 10px;
  border-radius: 8px;
  height: 34px;
}

.paginationButton {
  width: 90px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

