.taskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}

.taskItem {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 16px;
}

.contactIcon {
  margin-right: 8px;
}

.taskIcon {
  margin-right: 8px;
}

.nameDate {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 16px;
  padding-top: 8px;
}

.stateMark {
  display: flex;
  justify-content: space-between;
}

.taskName {
  font-size: 20px;
}

.badges {
  display: flex;
  gap: 8px;
}

.course,
.mark,
.pending {
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
}

.course {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.mark {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.pending {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.taskDescription {
}
