.customData {
  font-size: 24px;
  padding: 8px 0px;
  font-weight: 500;
}

.customTable {
  border-collapse: collapse;
  width: 100%;
}

.customH,
.customCell {
  padding: 8px;
  text-align: left;
}

.customH {
  border-bottom: 1px solid #323232;
  color: black;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
}

.customButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3px;
}

.customButtons button{
  width: fit-content;
  padding: 8px 12px;
}

.customActions {
  max-width: 100px;
}

input{
  max-width: 125px;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}