.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapperText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 32px 16px;
}

.subContainer {
  border: 1px solid grey;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  color: black;
}

.subCard {
  padding: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #fff;
  color: black;
}

.customData {
  font-size: 24px;
  padding: 8px 0px;
  font-weight: 500;
}

.customTable {
  border-collapse: collapse;
  width: 100%;
}

.customH,
.customCell {
  padding: 8px;
  text-align: left;
}

.customH {
  border-bottom: 1px solid #323232;
  color: black;

  font-weight: 600;
  font-size: 14px;
}

.customButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3px;
}

.customButtons button {
  max-width: 100%;
  width: 100%;
  padding: 6px;
  font-size: 12px;
}

.customTable input[type="text"],
.customTable input[type="number"],
.customTable input[type="date"],
.customTable textarea,
.customTable select {
  width: 100%;
  max-width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.customTable input[type="date"] {
  max-width: 90px;
  width: 100%;
  text-align: center;
}

.customTable input[type="number"] {
  max-width: 32px;
  width: 100%;
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.customH {
  font-size: 16px;
}

.customCell {
  font-size: 14px;
}

.customTable textarea {
  width: 250px;
  height: 50px;
  resize: vertical;
}

.customTable select {
  width: 100%;
}

.manageTasks {
  font-size: 24px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid grey;
}

@media screen and (min-width: 768px) {
  .customButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
  }

  .customButtons button {
    padding: 8px 16px;
    font-size: 16px;
  }

  .customH {
    font-size: 16px;
  }

  .customCell {
    font-size: 16px;
  }
}
