.resContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.videoList {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.linksList {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

.thumbnail {
  max-width: 200px;
  width: 100%;
}

.responsiveTable {
  width: 100%;
  border-collapse: collapse;
}

.responsiveTable th,
.responsiveTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.responsiveTable th {
  background-color: #f2f2f2;
}

.videoList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}