.linkContainer {
  margin-top: 16px;
}

.inputsContainer {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputContainer input {
  max-width: 350px;
  width: 100%;
}

.btn {
  max-width: 150px;
  width: 100%;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.link {
  color: black;
}
