@import url("./reset.css");
@import url("@fontsource/source-sans-pro");
@import url("@fontsource/source-sans-pro/400.css");
@import url("@fontsource/source-sans-pro/600.css");
@import url("@fontsource/source-sans-pro/700.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: white;
  background: rgb(242, 150, 70);
  background: linear-gradient(
    120deg,
    rgba(242, 150, 70, 1) 0%,
    rgba(110, 73, 66, 1) 39%,
    rgba(255, 245, 130, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}

body {
  font-family: "Source Sans Pro";
}

label {
  display: block;
}

input,
select {
  color: hsl(0, 0%, 20%);
  background-color: #ffffff;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  padding: 8px 16px;
  outline: none;
  max-height: 38px;
  height: 100%;
}

input:focus,
select:focus {
  outline: none;
  border-color: #2684ff;
  border-width: 2px;
}

label {
  margin-bottom: 6px;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 22px;
}

p {
  line-height: 1.15;
  line-height: 150%;
  letter-spacing: -0.02em;
}

button {
  width: fit-content;
  cursor: pointer;
  color: white;
  background-color: white;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ed9346;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.116);
  color: black;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.137);
}

.sub-card {
  padding: 16px;
  background-color: #fff;
  color: black;
  border-radius: 8px;
}

.component-title {
  font-size: 24px;
  padding-bottom: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 32px 16px;
  background-color: #fff;
}

.error {
  color: red;
}

.input-error {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .button-reset {
    margin: 0;
  }
}
