.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
}

.labelContainer {
  margin-top: 16px;
}

.loginLabel {
  color: black;
}

.inputContainer input {
  max-width: 350px;
  width: 100%;
}

.btn {
  max-width: 150px;
  width: 100%;
}

.btnContainer {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
