.labelContainer {
  margin-top: 16px;
}

.input {
  max-width: 300px;
  width: 100%;
}

.btn {
  margin-top: 32px;
  border: 1px solid grey;
}

.inputsContainer {
  padding: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  max-width: 500px;
  width: 100%;
}

.parentWrapper {
  display: flex;
  justify-content: center;
}
