.weatherWidget {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.weatherIcon {
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.384);
  border-radius: 8px;
}

.wrapper {
  max-width: 200px;
  width: 100%;
  position: fixed;
  bottom: 25px;
  right: 0;
  background-color: white;
  padding: 8px;
  color: black;
  border-radius: 8px 0 0 8px;
  transition: transform 0.3s ease;
}

.collapsed {
  transform: translateX(200px);
}

.collapsed .weatherIcon,
.collapsed .dataContainer {
  display: none;
}

.toggleButton {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  height: 58px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
