.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapperText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 32px 16px;
  background-color: #fff;
}

.wrapperText h1,
.wrapperText p {
  color: black;
}

.subContainer {
  border: 1px solid grey;
  padding: 16px;
  border-radius: 8px;
}

.subCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #fff;
  color: black;
}

.customData {
  font-size: 24px;
  padding: 8px 0px;
  font-weight: 500;
}

.customTable {
  border-collapse: collapse;
  width: 100%;
}

.customH,
.customCell {
  padding: 8px;
  text-align: left;
}

.customH {
  border-bottom: 1px solid #323232;
  color: black;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
}

.customButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3px;
}

.customActions {
  width: 100px;
}
