input {
  max-width: 235px;
  width: 100%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contactForm input {
  max-width: 235px;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
