.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
}

.orderName{
  padding-bottom: 16px;
}

.dataText{
  padding-bottom: 16px;
}

.modalContent {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
}

.formWrapper{
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  gap: 32px;
}

.close {
  color: white;
  background-color: rgba(255, 0, 0, 0.603);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  background-color: rgba(255, 0, 0, 0.774);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit {
  color: white;
  background-color: rgba(13, 156, 32, 0.603);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover {
  background-color: rgba(13, 156, 32, 0.767);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}