form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.containerLeft,
.containerRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

[class*="sidesContainer"] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskDescription textarea {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 16px;
  color: black;
}

select {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  padding: 6px;
  outline: none;
}

.buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media screen and (min-width: 768px) {
  .sidesContainer {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .containerRight,
  .containerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
