.contactsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listParams {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 16px;
}

.checkContact {
  font-size: 24px;
  padding-bottom: 16px;
}

.listParams p {
  font-size: 14px;
  padding-top: 6px;
}
