.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 64px 16px;
}

.subContainer {
  padding: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  padding: 16px;
}